version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: f1_championship
    environment:
      POSTGRES_DB: f1_championship
      POSTGRES_USER: f1_user
      POSTGRES_PASSWORD: f1_password
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: